	<div class="polje">
		<%= f.label :name, "Ime" %><br />
		<%= f.text_field :name %>
	</div>
	<div class="polje">
		<%= f.label :surname, "Priimek" %><br />
		<%= f.text_field :surname %>
	</div>
	<div class="polje">
		<%= f.label :email, "e-pošta" %><br />
		<%= f.text_field :email %>
	</div>
	<div class="polje">
		<%= f.label :password, "geslo" %><br />
		<%= f.password_field :password %>
	</div>
	<div class="polje">
		<%= f.label :password_confirmation, "ponovi" %><br />
		<%= f.password_field :password_confirmation %>
	</div>